/* Styles for the navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  position: fixed; /* fixing the position of the navbar*/
  right: 1px;
  top: 0px;
}
/* Changing the the A tag */
a {
  text-decoration: none;
  color: var(--primary-color);
}

/* SVG icon side bar menu */
.menu-icon {
  height: 20px; /* settting the height of the icons of the menu */
}

/* styles for the logo */
.logo {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
}

/* styles for the mobile menu bar */
.mobile-menu li {
  list-style: none;
  letter-spacing: 2.5px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  width: 272px;
}

/*  */
.mobile-menu {
  position: fixed;
  top: 73px; /*setting the menu option to be fixed */
  right: 10px;
}

/* Removing the menu for the large screen */
.remove-larger-menu {
  display: none;
}

/* removing the menu for mobile on larger screens */
.remove-mobile-menu {
  display: none;
}

/* displaying the menu for larger screens */
.remove-larger-menu {
  display: block;
}

/* updating the list on larger screens */
.larger-menu ul {
  display: flex;
  gap: 25px;
  color: var(--primary-color);
  list-style: none;
  letter-spacing: 2.5px;
  font-weight: 500;
}
.larger-menu ul:hover {
  color: var(--secondary-color);
}

@media (min-width: 1200px) {
  nav {
    position: fixed; /* fixing the position of the navbar */
    right: 73px;
  }
  .larger-menu ul {
    letter-spacing: 5px;
    display: flex;
    gap: 50px; /*increasing the gap of the lists in the menu  */
  }
}
@media (min-width: 1440px) {
  nav {
    position: fixed; /* fixing the position of the navbar */
    right: 120px;
  }
}
